<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Content -->
                <p></p>
                <h6 class="text-uppercase font-weight-bold">ABOUT THIS PROJECT</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>The site was created to compare the single target damage, hps and aps of all classes and to get a
                    quick overview of the current meta. Also because stats are fun and we like turtles. Keep feeding the
                    <a href="https://www.prancingturtle.com/" target="new">turtle</a>!
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <p></p>
                <h6 class="text-uppercase font-weight-bold">My projects</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="http://forums.riftgame.com/technical-discussions/addons-macros-ui/506815-addon-debuffwatcher.html"
                       target="new">DeBuff Watcher</a>
                </p>
                <p>
                    <a href="http://forums.riftgame.com/technical-discussions/addons-macros-ui/502518-event-tracker-overlay-display-text-speech.html"
                       target="new">Event Tracker</a>
                </p>
                <p>
                    <a href="http://forums.riftgame.com/technical-discussions/addons-macros-ui/482147-addon-rift-raid-alert-spoken-raid-warnings.html"
                       target="new">Rift Raid Alert</a>
                </p>
                <p>
                    <a href="https://docs.google.com/spreadsheets/d/10pTzhWpQa2Y6f97_Zmxom7aRoJBMYKQ7vzc8WKlvyy0/edit#gid=851657820"
                       target="new">Mage BiS List</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <p></p>
                <h6 class="text-uppercase font-weight-bold">RAID ADD-ONS</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="https://github.com/kinnou02/king-molinator" target="new">King Boss Mods</a>
                </p>
                <p>
                    <a href="http://forums.riftgame.com/technical-discussions/addons-macros-ui/506815-addon-debuffwatcher.html"
                       target="new">KaruulAlert </a>
                </p>
                <p>
                    <a href="http://forums.riftgame.com/technical-discussions/addons-macros-ui/500525-addon-updated-riftmeter-4-3-a.html#post5331308"
                       target="new">Rift
                        Meter</a>
                </p>
                <p>
                    <a href="http://forums.riftgame.com/technical-discussions/addons-macros-ui/315634-addon-gadgets-67.html#post5353056"
                       target="new">Gadgets</a>
                </p>

            </div>

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <p></p>
                <h6 class="text-uppercase font-weight-bold">Useful Websites</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/dungeons-raid-guides/470899-raid-buff-debuff-stacking-updated.html"
                       target="new">Buff/Debuff Stacking</a>
                </p>
                <p>
                    <a href="https://www.cadrift.net/" target="new">Cadrift (Guides)</a>
                </p>
                <p>
                    <a href="https://rift.magelo.com/en/soultree" target="new">Magelo (Souls)</a>
                </p>
                <p>
                    <a href="https://rift.events/eu/en_US.html"
                       target="new">YARET (Events)</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <p></p>
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    Discord: Bamu#0943
                </p>
                <p>
                    Bamu@Brutwacht
                </p>
                <p>
                    Sepelio@Wolfsbane</p>
                <p>
                    <a href="http://forums.riftgame.com/general-discussions/general-discussion/505825-comparison-st-damage-hps-thps-aps-all-classes-after-4-5-patch-7-11-2018-a.html"
                       target="new">Forum</a>
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        created by Bamu@Brutwacht and Sepelio@Wolfsbane using the data from
        Prancingturtle | RIFT and their respective
        logos are trademarks or registered trademarks of gamigo US/Trion Worlds. This site
        is not affiliated with gamigo/Trion Worlds or any of its affiliates.
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->