<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">About this project.</h5>
                <p>The site was created to get a quick overview of the current meta and to collect ideas for new
                    raidsetups. Also because stats are fun and we like turtles. The algorithm calculates the time and
                    the single target damage from the first hit on a NPC until he is dead or doesn't take any more
                    damage, so you get more realistic st dps values and more precise kill times. If you have suggestions
                    for improvements you can post them in the <a
                            href="http://forums.riftgame.com/general-discussions/general-discussion/505825-comparison-st-damage-hps-thps-aps-all-classes-after-4-5-patch-7-11-2018-a.html"
                            target="new">Forum</a>.
                    Keep feeding the <a href="https://www.prancingturtle.com/" target="new">turtle</a>!</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Useful Rift Websites</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.cadrift.net/" target="new">Cadrift Puzzles and Achievemnts Guides</a>
                    </li>
                    <li>
                        <a href="https://rift.events/na/en_US.html" target="new">YARET (Yet Another Rift Event
                            Tacker)</a>
                    </li>
                    <li>
                        <a href="https://rift.magelo.com/en/soultree" target="new">Magelo Rift Soul Tree Calculator</a>
                    </li>
                    <li>
                        <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/"
                           target="new">Rift
                            Class Guides Forums</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Useful Raid Add-Ons</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://github.com/kinnou02/king-molinator" target="new">King Boss Mods</a>
                    </li>
                    <li>
                        <a href="http://forums.riftgame.com/technical-discussions/addons-macros-ui/315634-addon-gadgets-67.html#post5353056"
                           target="new">Gadgets</a>
                    </li>
                    <li>
                        <a href="http://forums.riftgame.com/technical-discussions/addons-macros-ui/500525-addon-updated-riftmeter-4-3-a.html#post5331308"
                           target="new">Rift
                            Meter</a>
                    </li>
                    <li>
                        <a href="http://forums.riftgame.com/technical-discussions/addons-macros-ui/506815-addon-debuffwatcher.html"
                           target="new">Debuff
                            Watcher</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© created by Bamu@Brutwacht and Sepelio@Wolfsbane using the data from
        Prancingturtle | RIFT and their respective
        logos are trademarks or registered trademarks of gamigo US/Trion Worlds. This site
        is not affiliated with gamigo/Trion Worlds or any of its affiliates.
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->