<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143516769-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-143516769-1');


    </script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/overrides.css">
    <title>Rift Overall DPS Leaders</title>
    <!-- Lookup -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script>
$(document).ready(function(){
  $("#dosearch").click(function(){

	$('#toutput').html('<td colspan="11"><center><img src="./css/Ajax_loader_metal_512.gif"/></td>');

	var sval = $("#txt-search").val();  // search value from field
	var stype = $("#searchtype").val();    // value from dropdown menu

	$.ajax({
    		url: "./json/data.json",
       		dataType: "text",
        	success: function(data) {

        	var json = $.parseJSON(data);
		var stype = $('#searchtype').val();

		// Clear out the table contents for new search so that content doesn't overlap when a search is executed
		if( $('#toutput').is(':empty') == false ) {$('#toutput').html(''); }

        	for (var i = 0;i < json.length; i++){
			if (json[i][stype].toLowerCase().includes(sval.toLowerCase())){
	        	    $('#toutput').append(
				'<tr><td><a href="https://prancingturtle.com/Encounter/Interaction?id='+ json[i]["Eid"] + '&p=' + json[i]["Pid"] +'&outgoing=True&type=DPS&mode=ability&filter=all" target="_blank">' + json[i]["Date"] + "</a>" +
				'</td><td>' + json[i].Player +
				'</td><td>' + json[i].Boss +
				'</td><td>' + json[i].Class +
				'</td><td>' + json[i].Role +
				'</td><td>' + json[i].Guild +
				'</td><td>' + json[i]["ST DPS"] +
				'</td><td>' + json[i].HPS +
				'</td><td>' + json[i].THPS +
				'</td><td>' + json[i].APS +
				'</td><td>' + json[i]["Time for Boss"] + ' | ' + json[i]["Total Time"] +
				'</td></tr>');
			}
		}

	if( $('#toutput').is(':empty')) {$('#toutput').html('<td colspan="11"><center>No results found...</center></td>'); }}});

  });
// This clears the table of data when the user clicks the search field
 $('form').click(function(){
	$('#toutput').html(' ');
 });
//this executes the click event on the search button when the user presses the enter key on their keyboard
 $('#txt-search').keypress(function(e){
      	if(e.keyCode==13){
      		$('#dosearch').click();
	}
 });
//This makes the headers execute a sort/reverse sort when clicking on a column.
	$('th').click(function(){
    		var table = $(this).parents('table').eq(0);
    		var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()));
    		this.asc = !this.asc;
    		if (!this.asc){rows = rows.reverse();}
    			for (var i = 0; i < rows.length; i++){table.append(rows[i]);}
	})
	function comparer(index) {
   	 	return function(a, b) {
        	var valA = getCellValue(a, index), valB = getCellValue(b, index)
        	return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
   	 }
}
	function getCellValue(row, index){ return $(row).children('td').eq(index).text(); }

// This sets the placeholder text on the search field for when the dropdown value changes
$('#searchtype').change(
    function() {
        if ($('#searchtype').val() == "Player"){
		$('#txt-search').attr("placeholder", "Search for player name");
    	}else if($('#searchtype').val() == "Guild"){
		$('#txt-search').attr("placeholder", "Search for guild or group name");
	}else if($('#searchtype').val() == "Boss"){
		$('#txt-search').attr("placeholder", "Search for results for a particular boss. Ex: Azranel");
	}else if($('#searchtype').val() == "Class"){
		$('#txt-search').attr("placeholder", "Search for results for a class. Ex: Warrior");
	}else{
		$('#txt-search').attr("placeholder", "Search for results based on role type. Ex: Support");
	}
    }
);

// Reset button code to reset all fields
$('#reset').click(
    function() {
       $('#toutput').html('<td colspan="11"><center>Use the drop-downs and search field above to perform your search.</center></td>');
       $('#txt-search').val('');
       $('#searchtype').change();
    }
);
});
    </script>
    <style>
th{
	cursor: grab;
}

.pt_table_blank_lookup thead th {
   	width: 13em;
	background-color:black;
}

#wrapper{
	min-height:69vh;
}
    </style>
    <!-- Lookup End -->
</head>
<body>

<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.magelocdn.com/pack/rift/en/magelo-bar.js#1"></script>
<!-- Default -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="./js/scripts.js"></script>


<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="https://www.prancingturtle.com/">
            <img src="./turtle.png" alt="PT logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="./index.html">Overall DPS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Damage</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./dps.html">Order by DPS</a>
                        <a class="dropdown-item" href="./ddhps.html">Order by DPS+HPS</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Heal</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./dpshps.html">Order by DPS</a>
                        <a class="dropdown-item" href="./hps.html">Order by HPS</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Support</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./supdps.html">Order by DPS</a>
                        <a class="dropdown-item" href="./suphps.html">Order by HPS</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tank</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./tdps.html">Order by DPS</a>
                        <a class="dropdown-item" href="./thps.html">Order by HPS</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Top 100</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./top100_1.html">Azranel - DPS</a>
                        <a class="dropdown-item" href="./top100_2.html">Vindicator - DPS</a>
                        <a class="dropdown-item" href="./top100_3.html">Commander - DPS</a>
                        <a class="dropdown-item" href="./top100_4.html">Titan X - DPS</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./lookup.html">Lookup</a>
                        <a class="dropdown-item" href="./mostplayed.html">Most Played Specs</a>
                        <a class="dropdown-item" href="./raidsetup.html">Raid Setup Calculator</a>
                        <a class="dropdown-item" href="./videos.html">Videos</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./latestuploads.html">Latest Uploads</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Hide Navbar -->
    <!-- Hide Navbar End -->
</nav>