<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/overrides.css">
    <title>Rules</title>
</head>
<body>

<!-- Optional JavaScript
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="./js/scripts.js"></script>

<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="https://www.prancingturtle.com/">
            <img src="https://prancingturtle.com/Content/turtle/turtle12.png" alt="PT logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="./index.html">Overall DPS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./dps.html">DPS Class Leaders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./hps.html">HPS Leaders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./supdps.html">Support DPS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./suphps.html">Support HPS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./tdps.html">Tank DPS Leaders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./thps.html">Tank HPS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./mostplayed.html">Most Played Specs</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./latestuploads.html">Latest Uploads</a><span
                        class="sr-only">(current)</span>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Normal Content Zone -->
<div class="content">
    <div class="left-align">
        <p>#content</p>
    </div>
</div>
    <div class="subheading">
        <h2>Rules</h2>
        <hr>
    </div>
<div class="content">
    <!-- tablehead start -->
    <div class="content_scroll">
        At the moment there are no regulations on my website concerning killing times. All previously uploaded combat
        logs since the Rift 4.5 update are counted and are shown in the fastest kill time list.<br>
        Sometimes I find it necessary to filter out DPS values in the top 15 list. In this case, the DPS values are not
        deleted but only no longer displayed in the top lists. There are many ways to unnaturally increase the DPS of
        individual players. To prevent abuse, there are a few rules that must be followed to be displayed in the Top 15
        list.<br><br>1. no second lava field buff or flaring power buff  inerhaled for 5 minutes<br>2. no stacking of several Primal
        savagery buffs from the mystic.<br>3. no skipping of defensive spin (Azranel)
        <div class="clearfloat"></div>
    </div>
</div>
<!-- Footer -->
</body>
</html>
