body{
	background-color: #2b3e50;
	text-shadow: 0px 0px 1px #000000;
	color:white;
	overflow-x: hidden;

}

/*Nav overrides */

.dropdown-menu.show {
	background-color:black;
}

.dropdown-item.active, .dropdown-item a{
	color:#fff !important;
	background-color:#000;
}
.dropdown-menu.show a:hover{color:#fff}
.dropdown-menu.show a{color:#7f7f7f;}

.dropdown-item:focus, .dropdown-item:hover{background-color:#555758;}

.navbar{
	padding:.1rem;
	white-space: nowrap; 
  	text-overflow: ellipsis;
	background-color:#000;
	position: fixed;
    	top: 0;
   	right: 0;
   	left: 0;
   	z-index: 1030;
}

.navbar-nav{
    text-align: left;
    padding-left: 1rem;
}
/* end */

.Cleric {background-color: green !important;}
.Warrior {background-color:#CC0000!important;}
.Primalist {background-color:#0b5394 !important;}
.Rogue {background-color:#c09a27!important;}
.Mage {background-color:purple !important;}
.ttkguild {background-color:black !important; font-weight:bold;}
.ctotal {background-color:black !important; font-weight:bold;}

.hidden{display:none;}

.content{
	margin:5px 10px 10px 10px;
	display:flex;
  	flex-wrap: wrap;
  	justify-content: center;
}

table{
	text-overflow: ellipsis;
        white-space: nowrap;
	text-align:left;
}

hr{
	border: 0.5px solid white;
  	border-radius: 1px;
	margin-block-start: .3em !important;
	margin-bottom:0px;
}

h1{
	font-size:14px;
	color:white;
	padding-top:.7rem
}

h2{
	font-size:18px;
}

.subheading{
	padding-left:25px;
	color:#fff;
	text-align:left;
	padding-right:25px;
	width:100%;
}

.wrapper{
    position:relative;
    z-index: 1;
    display: inline-block;
}


.embed{
    position: absolute;
    width: 150px;
    height: 40px;
    background: #222;
    right: 0px;
    bottom: 6px;
    z-index:999;
    display: block;
    color: #fff;
}

.content_scroll{
    display: flex;
    overflow-x: hidden;
    flex-wrap: wrap;
}

.video_win{
	width:25%;
	border:1px solid #000;
	color:white;
	background-color:#212529;
	white-space: nowrap; 
  	overflow: hidden;
  	text-overflow: ellipsis;
	margin:.5rem;
	min-width: 23em;
	text-align:left;
}

.video_win ul{
	margin-top:1rem;
	list-style:none;
	padding-left: 2px;
}


.left-align{
	display:block;
	justify-content:left;
	margin-top:60px;
}

.content p{
	color:white;
}

/* dps template */

.pt_table_blank{
	width:360px;
	margin:3px 3px 3px 5px;
	
	font-size:.80rem;
}

.pt_table_blank th:nth-child(1){
 	width:90px;
}

.pt_table_blank th:nth-child(2){
 	width:100%;
}




/* end dps template */

/* leaders template */

.pt_table_fastest_kill{
	width:360px;
	margin:3px 3px 3px 5px;
	font-size:.80rem;
}

.pt_table_blank_leader{
	width:360px;
	margin:3px 3px 3px 5px;
	font-size:.80rem;
}

.pt_table_blank_leader th:nth-child(1){
 	width:90px;
}

.pt_table_blank_leader th:nth-child(2){
 	width:110px;
}

.pt_table_blank_leader_killcomps{
	width:360px;
	margin:3px 3px 3px 4px;
	font-size:.80rem;
}

.pt_table_blank_leader_killcomps th:nth-child(2){
 	width:90px;
}

.pt_table_blank_leader_killcomps th:nth-child(1){
 	width:110px;
}

/* end leaders template */

/*leader dps templat*/

.pt_table_blank_leader_dps{
	width:360px;
	margin:3px 3px 3px 4px;
	font-size:.80rem;
}


.pt_table_blank_leader_dps th:nth-child(1){
 	width:100px;
/*	padding:5px; */
}

.pt_table_blank_leader_dps th:nth-child(2){
 	width:120px;
	padding:3px;
}


/* end leader dps template */

.pt_table_blank_hps{
	width:550px;
	margin:3px 3px 3px 5px;
	display:block;
	font-size:.80rem;
        overflow-x: auto;
	text-overflow: ellipsis;
        white-space: nowrap;
}

.pt_table_blank_hps th:nth-child(2){
 	width:100%;
}

.pt_table_blank_large{
	width:100%;
	margin:3px 3px 3px 5px;
	font-size:.70rem;
	overflow-x: auto;

}

.pt_table_blank_mostplayed{
	width:100%;
	margin:3px 3px 3px 5px;
	font-size:.80rem;
	overflow-x: auto;
	display:block;
}

.pt_table_blank_mostplayed th:nth-child(1){
 	width:90px;
}

.pt_table_blank_lookup{
	width:100%;
	margin:3px 3px 3px 5px;
	font-size:.80rem;
	overflow-x: auto;
	display:block;
}

.pt_table_blank_latestuploads{
	width:710px;
	margin:3px 3px 3px 5px;
	font-size:.80rem;
	overflow-x: auto;
	display:block;
}

.pt_table_blank_latestuploads th:nth-child(1){
 	width:120px;
}

.pt_table_blank_latestuploads th:nth-child(2){
 	width:130px;
}
.pt_table_blank_latestuploads th:nth-child(3){
 	width:150px;
}
.pt_table_blank_latestuploads th:nth-child(4){
 	width:100px;
}
.pt_table_blank_latestuploads th:nth-child(5){
 	width:120px;
}


/* mostplayed and latestuploads sticky tabletop*/
.pt_table_blank_latestuploads thead th{
    position: sticky;
    top: 0px;
    background-color:#000;
}

.pt_table_blank_mostplayed thead th{
    position: sticky;
    top: 0px;
    background-color:#000;
}
/* adjust table size here */

.table td, .table th {
    padding: .3rem .4rem .3rem .7rem

}

.footer-copyright{
	font-size:.80rem;
}

footer{
    background-color:#000;
}

#output{
    flex:.95;
    overflow-x:auto;
}
